@font-face {
    font-family: 'Unbounded';
    src: url(../font/Unbounded-Regular.ttf) format("truetype");
    font-style: normal;
    font-weight: 400;
    font-display: fallback;
}

@font-face {
    font-family: 'Unbounded';
    src: url(../font/Unbounded-Medium.ttf) format("truetype");
    font-style: normal;
    font-weight: 500;
    font-display: fallback;
}
@font-face {
    font-family: 'Unbounded';
    src: url(../font/Unbounded-SemiBold.ttf) format("truetype");
    font-style: normal;
    font-weight: 600;
    font-display: fallback;
}
@font-face {
    font-family: 'Unbounded';
    src: url(../font/Unbounded-Bold.ttf) format("truetype");
    font-style: normal;
    font-weight: 700;
    font-display: fallback;
}
@font-face {
    font-family: 'Unbounded';
    src: url(../font/Unbounded-Black.ttf) format("truetype");
    font-style: normal;
    font-weight: 900;
    font-display: fallback;
}
@font-face {
    font-family: 'Pretendard';
    src: url(../font/Pretendard-Regular.ttf) format("truetype");
    font-style: normal;
    font-weight: 400;
    font-display: fallback;
}
@font-face {
    font-family: 'Pretendard';
    src: url(../font/Pretendard-Medium.ttf) format("truetype");
    font-style: normal;
    font-weight: 500;
    font-display: fallback;
}
@font-face {
    font-family: 'Pretendard';
    src: url(../font/Pretendard-SemiBold.ttf) format("truetype");
    font-style: normal;
    font-weight: 700;
    font-display: fallback;
}